{% extends 'nonuser_base.html' %}
{% block content %}
<div class="card align-items-center">
  <div class="text-center">
    <h1>Check-It!</h1>
    <p>Powered by Django</p>
  </div>
  <span class="border border-secondary">
    <div class="card-body">
      <form action="{% url 'account:login' %}" method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-12">
            <label>Username</label>
            <input type="text" id="login_username" name="login_username" placeholder="" value="">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label>Password</label>
            <input type="password" id="login_password" name="login_password" placeholder="" value="">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-dark">
              Login
            </button>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-md-12 text-center">
          No account? Sign up <a href="/user/signup">here</a>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-12 text-center">
          Try the demo <a href="/">here</a>!
        </div>
      </div> -->
    </div>
  </span>
</div>
{% endblock %}
    


