{% extends 'nonuser_base.html' %}
{% block content %}
<div class="card align-items-center">
  <div class="text-center">
    <h1>Todo Today!</h1>
    <p>This is an example Django Todo app</p>
  </div>
  <span class="border border-secondary">
    <div class="card-body">
      <form action="{% url 'account:new_account' %}" method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-12">
            <label>Username</label>
            <input type="text" id="new_username" name="new_username" placeholder="" value="">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label>Password</label>
            <input type="password" id="new_password" name="new_password" placeholder="" value="">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-dark">
              Create Account!
            </button>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-md-12 text-center">
          Already have an account? Sign in <a href="/user/login">here</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          Try the demo <a href="/">here</a>!
        </div>
      </div>
    </div>
  </span>
</div>
{% endblock %}
    


