<style type="text/css">
  input{
    margin-left: 15px;
    margin-right: 15px;
  }
</style>

<div class="card-body">
  <form action="{% url 'tasks:add_task' %}" method="POST">    
    {% csrf_token %}
    <button type="submit" class="btn btn-dark">
      Add
      <i class="fa fa-plus-square" aria-hidden="true"></i>
    </button>
    <input type="text" id="task_title" name="task_title" placeholder="Enter your new task..." value="">   
      <a class="" data-toggle="collapse" href="#add_task_extended" role="button" aria-expanded="false" aria-controls="add_task_extended">
        <i class="fas fa-caret-down"></i>
      </a> 
    </input>
    <div class="collapse" id="add_task_extended">
      <br>
      <label>Task Description:</label>
      <input type="text" id="task_description" name="task_description" placeholder="" value="">   
    </div>
  </form>
  
    
  
</div>