<div class="sidepanel">
    <div class="card">
  
      <h5 class="sideheader text-center">Sorting</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <input type=checkbox> Sort by newest</input>
        </li>
        <li class="list-group-item">
          <input type=checkbox> Sort by unfinished</input>
        </li>
      </ul>
  
      <h5 class="sideheader text-center">Filters</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <input type=checkbox> Show archive</input>
        </li>
        <li class="list-group-item">
          <input type=checkbox> Show completed</input>
        </li>
      </ul>
    </div>
    
  </div>